<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>



#homeButton{
	background-color:#0c5449;
}

#studyName{
	position: absolute;
	left: 40%;
	top: 20%;
</style>

<nav class="navbar" style="border-bottom: 1px solid #0c5449;">
	<div class="container-fluid">
		<div class="navbar-header">
			<img src="images/lab_logo.jpg" height=136 width=309>
		</div>
		<div id="studyName" class="nav navbar-nav">
			<h2 style="color: #0c5449;"> WSU "SUPER" Study </h2>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<p style="padding-left: 10px; color: #0c5449; font-size: 16pt;"> Thank you for answering those questions! We will be contacting you shortly to let you know if you qualify for the study. If you have any questions,
			 please contact us at 313-577-0084 or email us at canolab@wayne.edu </p>
		</div>
		<div class="col-sm-2"></div>
	</div>

	<br><br>

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6" >
			<button type="button" id="homeButton" class="btn btn-primary center-block" onclick="location.href='http://wsusuperstudy.com/';" >Back to Home</button><br>
		</div>
		<div class="col-sm-3" ></div>
	</div>
</div>

</body>
</html>